.infinity-scroll {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.image-container {
  display: flex;
  flex-direction: column;
  padding: 0 20%;
  gap: 20px;

  img {
    width: 100%;
  }
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: silver;
  z-index: 1000;
}

.active {
  display: none;
}
